body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px 0;
}

.logo {
    width: 100px;
    display: block;
    margin: 0 auto 10px auto;
}

main {
    padding: 20px;
}

footer {
    background-color: #eee;
    padding: 10px 0;
    margin-top: 20px;
}
