# =========================
# Terraform
# =========================

# Local state files
*.tfstate
*.tfstate.*
crash.log

# Terraform directory
.terraform/

# Terraform CLI config files
.terraformrc
terraform.rc

# =========================
# OS Files
# =========================

.DS_Store
Thumbs.db

# =========================
# IDE Files
# =========================

.vscode/
.idea/
